<div class="container-fluid p-5 d-flex justify-content-center">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Ajouter un objet</h5>
      <small>
        Ce formulaire vous permettra d'ajouter un objets à votre liste afin que
        vous puissiez le retrouver en cas de perte
      </small>
      <form [formGroup]="objForm" (ngSubmit)="submit()" class="mt-3">
        <!-- Object name input -->
        <div>
          <mdb-form-control class="flex-fill mb-0">
            <input
              mdbInput
              type="text"
              id="name"
              class="form-control form-control-lg"
              formControlName="name"
              placeholder="Donnez un nom à votre objet"
            />
            <label mdbLabel class="form-label" for="name">Nom de l'objet</label>
          </mdb-form-control>
        </div>
        <div
          class="d-flex justify-content-end"
          *ngIf="
            objForm.get('name')?.hasError('required') &&
            objForm.get('name')?.touched
          "
        >
          <small class="text-danger"> Ce champ est obligatoire </small>
        </div>

        <!-- Object description input -->
        <mdb-form-control class="mt-3">
          <textarea
            mdbInput
            class="form-control"
            id="description"
            rows="4"
            formControlName="description"
          ></textarea>
          <label mdbLabel class="form-label" for="description"
            >Description</label
          >
        </mdb-form-control>

        <!-- Submit button -->
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4 mt-4"
          [disabled]="!objForm.valid"
        >
          Ajouter
        </button>
      </form>
      <div *ngIf="error">
        <p class="text-danger">
          Désolé votre objet n'a pas pu s'ajouter, veuillez réessayer
          ultérieurement.
        </p>
        <p class="text-danger">
          Si l'erreur persiste, veuillez contacter notre support technique à
          l'adresse mail suivante :
          <a href="mailto:support-contact@findit.com"
            >support-contact@findit.com</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
