<div class="container-fluid p-5 row">
  <div class="col-md-5 card mr-2 p-3">
    <h4>Historique des positions</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Lat</th>
            <th scope="col">Long</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let position of positionList"
            (click)="getPosition(position)"
          >
            <th scope="row">
              {{ position.time | date: "dd/MM/yyyy h:mm:ss a" }}
            </th>
            <td>{{ position.lat }}</td>
            <td>{{ position.long }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-7">
    <div *ngIf="positionList">
      <div class="row">
        <div><h4>La position de l'objet :</h4></div>
        <div class="d-flex flex-row justify-content-between">
          <div>
            <p>{{ address }}</p>
          </div>
          <div>
            <button class="btn btn-primary" (click)="openUrl()">
              Ouvrir application
            </button>
          </div>
        </div>
      </div>
      <agm-map
        (mapReady)="getAddress(positionList[0])"
        [latitude]="positionList[0].lat"
        [longitude]="positionList[0].long"
      >
        <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction>
      </agm-map>
      <!-- <agm-map
        (mapReady)="getAddress(positionList[0])"
        [latitude]="positionList[0].lat"
        [longitude]="positionList[0].long"
      >
        <agm-marker
          [latitude]="positionList[0].lat"
          [longitude]="positionList[0].long"
        ></agm-marker>
      </agm-map> -->
      <div></div>
    </div>
  </div>
</div>
